<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>Welcome to OneDoorOpen, <%= @user.first_name%>!</p>
	
	<p>Thank you for registering!</p>
	
	<p>At the moment we want to limit the amount of users on our site so OneDoorOpen is in a closed invitation only open beta.</p>
	
	<p>We think you are the ideal user for OneDoorOpen so we want you to come join the fun!</p>
	 
	<p>What are you waiting for? Login now! <a href="http://onedooropen.com">http://onedooropen.com</a></p>
	
	<p>- The OneDoorOpen Team</p>
  </body>
</html>