<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>Something seems suspicious about this piece of content <%= @content.id%></p>
	
	<p>Better investigate it.</p>
	
	<img src="http://24.media.tumblr.com/275ddbaeaa2cc99bd2eddc5e97f8a430/tumblr_mpzxvjD29E1sn8bd3o1_250.gif">

  </body>
</html>