<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>Would you like to open the door for <%=@user.first_name%> (<%=@user.id%>) to make their dreams come true?</p>
	
	<p> <a href = "http://onedooropen.com/access/permissionGranted/<%=@user.id%>">http://onedooropen.com/access/permissionGranted/<%=@user.id%></a></p>
	
	<img src="http://www.reactiongifs.com/wp-content/gallery/yes/tumblr_lm11bt4OaK1qe6xr2.gif">
	
	

  </body>
</html>